
input[type=text] {
    margin: 0 1rem;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 221, 51, 0.15);
    padding: 16px;
    border-left: 30px;
    width: 500px;
    font-weight: 300;
}

.offer {
    display: inline-block;
    padding: 10px;
}

.btn {
    background-color: #FFDD33;
    padding: 12px;
    border-radius:10px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, system-ui;
  }